.card_result {
  border-radius: var(--s12);
  box-shadow: var(--card-shadow);
  &__header {
    background-color: white;
  }
  &__icon {
    width: var(--s64);
    height: var(--s64);
    z-index: 2;
    box-shadow: var(--card-shadow);
    border-radius: var(--s12);
    i {
      color: white;
      font-size: var(--s32);
    }

    &--repository {
      background-image: var(--gradient-dark);
    }
    &--code {
      background-image: var(--gradient-info);
    }
    &--commit {
      background-image: var(--gradient-success);
    }
    &--issue {
      background-image: var(--gradient-primary);
    }
  }
  &__body {
    i {
      font-size: var(--s24);
    }
    img {
      width: var(--s24);
    }
  }
}
