<form [formGroup]="formSearch" class="search-bar">
  <div class="input-group" *ngIf="!successfulSearch; else result">
    <input
      [ngClass]="{ 'is-invalid': hasErrors }"
      type="text"
      class="form-control py-2"
      placeholder="A quien buscas?"
      formControlName="word"
    />
    <button
      class="btn btn-outline-success"
      (click)="handleClickSearch()"
      [disabled]="word?.disabled"
    >
      Buscar
    </button>
    <div *ngIf="word?.errors" class="invalid-feedback">
      Ingresa un nombre de usuario
    </div>
  </div>
  <ng-template #result>
    <div class="card p-4 search-bar--result">
      <h1 class="display-6 fw-bold text-center">{{ word?.value }}</h1>
      <div class="d-flex justify-content-end">
        <span class="me-4">
          <i class="bi bi-arrow-counterclockwise text-warning"></i>
        </span>
        <span class="ms-4" (click)="handleClickRemove()">
          <i class="bi bi-trash text-danger"></i>
        </span>
      </div>
    </div>
  </ng-template>
</form>
