<form [formGroup]="formSearch">
  <div class="input-group" *ngIf="!successfulSearch; else result">
    <input
      type="text"
      class="form-control py-2"
      placeholder="A quien buscas?"
      formControlName="word"
    />
    <button
      class="btn btn-outline-success"
      (click)="handleClickSearch()"
      [disabled]="word?.disabled"
    >
      Buscar
    </button>
  </div>
  <ng-template #result>
    <h1 class="display-6 fw-bold text-center">{{ word?.value }}</h1>
  </ng-template>

  <div class="d-flex m-2 mt-4 justify-content-end">
    <span class="me-4">
      <i class="bi bi-arrow-counterclockwise text-warning"></i>
    </span>
    <span class="ms-4" (click)="handleClickRemove()">
      <i class="bi bi-trash text-danger"></i>
    </span>
  </div>
</form>
