//Icons
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css');

//Theme
@import 'theme/variables.scss';
@import 'theme/spacing.scss';
@import 'theme/typography.scss';

body {
  background-color: var(--gray-200);
}

.position-relative {
  position: relative !important;
}

hr.hr-dark {
  background-color: transparent !important;
  background-image: linear-gradient(
    90deg,
    transparent,
    rgba(0, 0, 0, 0.4),
    transparent
  );
}
