<div class="card my-2 card_user">
  <div class="card-header mt-n4 position-relative mx-3 card_user__header">
    <div *ngIf="user" class="p-2 d-flex justify-content-between">
      <img
        [src]="user?.avatar_url"
        alt=""
        class="img-thumbnail card_user__header--avatar"
      />
      <div class="text-end mt-4 ms-2">
        <h2 class="text-white fw-bold">{{ user?.name }}</h2>
        <span class="lead">{{ user?.bio }}</span>
      </div>
    </div>
  </div>
  <div class="card-body card_user__body">
    <div class="p-2 d-flex justify-content-between align-items-center">
      <span class="fw-bold card_user__body--item">Seguidores</span>
      <span>{{ user?.followers }} &nbsp; <i class="bi bi-people"></i></span>
    </div>
    <hr class="hr-dark" />
    <div class="p-2 d-flex justify-content-between align-items-center">
      <span class="fw-bold card_user__body--item">Repositorios</span>
      <span
        >{{ user?.public_repos }} &nbsp; <i class="bi bi-box-seam"></i
      ></span>
    </div>
    <hr class="hr-dark" />
    <div
      *ngIf="hasSocialInfo"
      class="p-2 d-flex justify-content-between align-items-center"
    >
      <span class="fw-bold card_user__body--item">Social</span>
      <div>
        <a [href]="user?.blog" target="_blank" class="p-1 text-dark"
          ><i class="bi bi-globe"></i
        ></a>
        <a [href]="user?.twitter_username" target="_blank" class="p-1 text-dark"
          ><i class="bi bi-twitter"></i
        ></a>
      </div>
    </div>
  </div>
</div>
