.card_user {
  border-radius: var(--s12);
  box-shadow: var(--card-shadow);
  &__header {
    height: 200px;
    z-index: 2;
    background-image: var(--gradient-info);
    box-shadow: var(--card-header-shadow);
    border-radius: var(--s12);

    &--avatar {
      width: var(--s160);
      height: var(--s160);
    }
  }
  &__body {
    i {
      font-size: var(--s24);
    }
    &--item {
      color: var(--black);
    }
  }
}
